.NavBar {
    background-color: #262C29;
    border-bottom: 1px solid #F18F01;
}

.Container {
    max-width: 1600px;
}

.Active {
    color: #FEA520;
}

.Link {
    font-weight: 700;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 2.8;
}

.ShareTrack {
    border-radius: 6px;
    border: #FEA520 dashed 2px;
    padding: 0 6px;
    text-transform: uppercase;
}

.Toggler {
    padding: 4px;
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
    color: #E0E2DB;
}

@media screen and (max-width: 1145px) {
    h1 {
        font-size: 1.8rem;
    }

    .Link {
        font-size: 1rem;
        padding-left: 6px;
    }
}

@media screen and (max-width: 575px) {
    h1 {
        font-size: 1.1rem;
    }

    .NavBar {
        padding-left: 0;
        padding-right: 10px;
    }

    .ShareTrack {
        font-size: 0.6rem;
        padding: 0 4px;
    }
}