/* styles for the profile page */

/* caps the width of the profile page container */
.ProfileContainer {
    max-width: 900px;
}

/* styles the profile header area */
.ProfileHeader {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #262C29;
    border: 1px solid #F18F01;
    border-radius: 8px;
}

/* provides styling to the profile avatar */
/* this styling is used instead of the Avatar component to prevent the avatar reducing in size on smaller screens */
.ProfileAvatar {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

/* styles owner text */
.Owner {
    font-weight: 700;
    margin-top: 5px;
}

/* spaces the stats row */
.StatsRow {
    padding: 30px 30px 0 30px;
}

/* styles each element within the stats row */
.StatsCol {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    padding: 0;
}

/* increases the size of each stat number */
.StatNumber {
    font-size: 1.5rem;
    font-weight: 900;
}

/* styles the title above the tracks list */
.TracksTitle {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
}