.ProfileImage {
    text-align: center;
    border: 2px dashed #08B1C4;
    border-radius: 10px;
    margin: 20px 8%;
}

.ChangeImage {
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2rem;
}

.ProfileFormGroup {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.Buttons {
    text-align: center;
}

.Buttons button {
    margin: 5px 5px 0 5px;
}