/* styles the review create/edit forms */

/* spaces the review forms container */
.ReviewFormContainer {
    padding: 20px 5%;
    max-width: 900px;
}

/* centers the review create button */
.ReviewButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* pushes edit buttons to the right */
.EditButtons {
    float: right;
}

/* adds some space between the edit buttons */
.EditButtons button {
    margin: 0 5px 5px 5px;
}