.CardBackground {
    background-color: #262C29;
    border: solid 4px #08B1C4;
    border-radius: 8px;
}

.Header {
    border: none;
    background-color: #08B1C4;
}

.HeaderText {
    color: #2E3532;
    font-style: italic;
    font-weight: 700;
}

.RightHeader {
    float: right;
    padding-top: 15px;
}

.InfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-height: 420px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Title {
    font-weight: 900;
    font-size: 1.5rem;
}

.Subtitle {
    font-weight: 700;
    font-size: 1.25rem;
    font-style: italic;
    text-transform: uppercase;
}

.CoverArtLink {
    padding-left: 0;
}

.CoverArt {
    max-height: 500px;
    border-radius: 10px;
}